* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;


}

.logo {
    width: 100px;
}

.lista {
color: white;
display: flex;
list-style-type: none;
justify-content: space-between;

}

.lista-1 {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: bold;




}

.blue {
    height: 50vh;
    background-color: rgb(61, 132, 213);
    background-image: url(./images/premium_dancer.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px;
}

.titulo-1 {
    color: white;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}