.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  width: 100vw;
}

.menu-icon {
  display: none;
}

.logo {
  width: 120px;
}

.lista {
color: white;
display: flex;
list-style-type: none;
justify-content: space-between;
}

.lista-1 {
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-weight: bold;
}