<header class="header">
  <img class="logo" src="./images/logo.png" alt="logo">
   <nav class="nav">
       <ul class="lista">
           <li class="lista-1">Premium</li>
           <li class="lista-1">Ayuda</li>
           <li class="lista-1">Descargar</li>
           <li class="lista-1"><span>|</span></li>
           <li class="lista-1"> <a href="../signup.html">Registrarse</a></li>
           <li class="lista-1">Iniciar Sesión</li>
       </ul>
       <img class="menu-icon" src="./images/menu-icon.png" alt="menu_icon">
   </nav>
</header>
