
    <main>
  
        <i class="fa-brands fa-spotify icon-spot"> <span class="title-formulario">Spotify</span></i>
    
 
        <h2>Registrate gratis para escuchar.</h2>




        <button class="boton-fb">
          <i class="fa-brands fa-facebook">  Registrarte con Facebook</i>
        </button>

        <button class="boton-fb">
            <i class="fa-brands fa-facebook">  Registrarte con Facebook</i>
          </button>

          <form action="">
            <label for=""></label>
          </form>
      
    </main>

